<section class="w-3/4 mx-auto">
  <h1 class="text-2xl text-main my-3">Forget Password:</h1>
  @if(errMsg){
  <div class="alert-danger">{{ errMsg }}</div>
  }
  <form [formGroup]="resetNewPasswordForm" (ngSubmit)="submitNewPassword()">
    <div>
      <label class="form-label" for="email">email</label>
      <input
        class="form-control rounded w-full"
        formControlName="email"
        type="email"
        placeholder="please enter you email here"
      />
      @if(resetNewPasswordForm.get('email')?.errors &&
      resetNewPasswordForm.get('email')?.touched ) {
      <div class="alert-danger">
        @if(resetNewPasswordForm.get('email')?.errors?.['email']) {
        <span>the email format is not correct</span>
        } @else if(resetNewPasswordForm.get('email')?.errors?.['required']) {
        <span>the email field is required</span>
        }
      </div>
      }
    </div>

    <div class="newPassword">
      <label>Reset Code:</label>
      <input
        class="form-control rounded w-full"
        formControlName="newPassword"
        type="number"
        placeholder="code sent to your email"
      />
      @if(resetNewPasswordForm.get('newPassword')?.errors &&
      resetNewPasswordForm.get('newPassword')?.touched) {
      <div class="alert-danger">
        @if(resetNewPasswordForm.get('newPassword')?.errors?.['required']) {
        <p>Code is required</p>
        } @if(resetNewPasswordForm.get('newPassword')?.errors?.['pattern']) {
        <p>Code is not in correct format</p>
        }
      </div>
      }
    </div>
    <button
      [disabled]="resetNewPasswordForm.invalid"
      class="btn btn-main mt-2 mb-3"
    >
      @if (isLoading) {
      <span> <i class="fa-solid fa-spinner fa-spin"></i> </span>
      } @else{
      <span>Submit</span>" }
    </button>
  </form>
</section>
