<section class="w-3/4 mx-auto">
  <h1 class="text-2xl text-main my-3">Forget Password:</h1>

  <form [formGroup]="ResetCodeForm" (ngSubmit)="submitResetCode()">
    <div class="resetcode">
      <label>Reset Code:</label>
      <input
        class="form-control rounded w-full"
        formControlName="resetCode"
        type="number"
        placeholder="code sent to your email"
      />
      @if(ResetCodeForm.get('resetCode')?.errors &&
      ResetCodeForm.get('resetCode')?.touched) {
      <div class="alert-danger">
        @if(ResetCodeForm.get('resetCode')?.errors?.['required']) {
        <p>Code is required</p>
        } @if(ResetCodeForm.get('resetCode')?.errors?.['pattern']) {
        <p>Code is not in correct format</p>
        }
      </div>
      }
    </div>
    <button [disabled]="ResetCodeForm.invalid" class="btn btn-main mt-2 mb-3">
      @if (isLoading) {
      <span> <i class="fa-solid fa-spinner fa-spin"></i> </span>
      } @else{
      <span>Submit</span>" }
    </button>
  </form>
</section>
